.panel.panel-default
  .panel-heading
    .row
      .col-md-9
        %h3
          = link_to j do 
            = j.jobTitle
      .col-md-3
        .text-right.job-options
          = link_to("<i class='fa fa-times-circle-o'></i>".html_safe, job_path(j), :method => :delete, data: {confirm: 'Are you sure?'})
          - if j.jobEndDate.nil?
            .choose-contractor
              = best_in_place j, :contractor_id, :type => :select, :collection => contractor_hash, :place_holder => "Choose a contractor", :inner_class => "form-control"
          - else
            %div
              = "#{j.contractor.subFirstName} #{j.contractor.subLastName}"

    - if !j.job_date.nil?
      .row
        .col-md-12
          %h5
            = j.job_date.to_formatted_s(:custom_long_ordinal)
  .panel-body
    %p
      = j.jobDescription
    %p
      %strong
        = j.jobType
    - if j.jobUrgency
      .u-bt10
        .label.label-warning
          Urgent
    - if !j.jobEndDate.nil?
      .u-bt10
        .label.label-info
          = "Completed #{j.jobEndDate.to_formatted_s(:custom_long_ordinal)}"
    - if j.invoice_status != "unsent"
      .u-bt10
        .label.label-info
          = "Invoice #{j.invoice_status.titleize}"
    %p
      %h5
        Customer Information
      - c = j.customer
      .row
        .col-md-12
          %strong
            = "#{c.custFirstName} #{c.custMiddleInitial} #{c.custLastName}"
            
      .row
        .col-md-3
          %strong
            Email
        .col-md-9
          = c.email
      .row
        .col-md-3
          %strong
            Location
        .col-md-9
          = "#{c.custStreetAddress}, #{c.custCity} #{c.custState} #{c.custZip}"