.row
  .col-md-12
    %h2.title
      Dashboard
.row
  .col-md-4
    .panel.box
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-users.fa-stack-1x.fa-inverse
      .box-info
        %h3
          = "#{Customer.all.length}"
        .text-muted
          Customers
  .col-md-4
    .panel.box
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-question.fa-stack-1x.fa-inverse
      .box-info
        %h3
          = "#{@pending_jobs.length}"
        .text-muted
          Pending Jobs
  .col-md-4
    .panel.box
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-wrench.fa-stack-1x.fa-inverse
      .box-info
        %h3
          = "#{@active_jobs.length}"
        .text-muted
          Active Jobs

.row

  .col-md-4
    .panel.box
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-check.fa-stack-1x.fa-inverse
      .box-info
        %h3
          = "#{@completed_jobs.length}"
        .text-muted
          Completed Jobs
  .col-md-4
    .panel.box
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-rocket.fa-stack-1x.fa-inverse
      .box-info
        %h3
          = "#{number_to_currency(projected_revenue)}"
        .text-muted
          Projected Revenue
  .col-md-4
    .panel.box
      %span.fa-stack.fa-3x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-dollar.fa-stack-1x.fa-inverse
      .box-info
        %h3
          = "#{number_to_currency(received_revenue)}"
        .text-muted
          Received Revenue

.row
  .col-md-12
    %p
      %h2.title
        Jobs
.row
  .col-md-12
    %p
      Sort By:
      .btn-group
        
        %a{:href => "/", :class => "btn btn-info active"}
          Time Last Updated
        %a{:href => "/jobs_sorted_by_date", :class => "btn btn-info"}
          Date of Job
    - if Job.order("updated_at desc").length > 0
      - Job.order("updated_at desc").each do |j|
        = render :partial => "/jobs/admin_job", :locals => {:j => j}