= form_for(current_resource, :html => {:class => "form"}) do |f|
  - if resource_type == "customers"
    .row
      .col-md-12
        .form-inline.customer-name-input
          .form-group
            = f.label :custFirstName do
              First Name
            = f.text_field :custFirstName, :class => "form-control", :required => true
          .form-group
            = f.label :custMiddleInitial do
              Middle Initial
            = f.text_field :custMiddleInitial, :class => "form-control", :size => 1, :maxLength => 1
          .form-group
            = f.label :custLastName do
              Last Name
            = f.text_field :custLastName, :class => "form-control", :required => true

  - if resource_type == "contractors"
    .row
      .col-md-12
        .form-inline.customer-name-input
          .form-group
            = f.label :subFirstName do
              First Name
            = f.text_field :subFirstName, :class => "form-control", :required => true
          .form-group
            = f.label :subMiddleInitial do
              Middle Initial
            = f.text_field :subMiddleInitial, :class => "form-control", :size => 1, :maxLength => 1
          .form-group
            = f.label :subLastName do
              Last Name
            = f.text_field :subLastName, :class => "form-control", :required => true
  .form
    .row
      .col-md-6
        .form-group
          = f.label :email
          = f.email_field :email, :class => "form-control", :required => true
        - if resource_type == "customers"
          .form-group
            = f.label :custStreetAddress do
              Street Address
            = f.text_field :custStreetAddress, :class => "form-control", :required => true
          .row
            .col-md-5
              .form-group
                = f.label :custCity do
                  City
                = f.text_field :custCity, :class => "form-control", :required => true
            .col-md-3
              .form-group
                = f.label :custZip do
                  Zipcode
                = f.text_field :custZip, :class => "form-control", :size => 5, :maxLength => 5, :required => true
            .col-md-4
              .form-group
                = f.label :custState do
                  State
                = select_tag :custState, options_for_select(us_states), :class => "form-control", :prompt => "Choose a state", :required => true
        - if resource_type == "contractors"
          .form-group
            = f.label :subtStreetAddress do
              Street Address
            = f.text_field :subStreetAddress, :class => "form-control", :required => true
          .row
            .col-md-5
              .form-group
                = f.label :subCity do
                  City
                = f.text_field :subCity, :class => "form-control", :required => true
            .col-md-3
              .form-group
                = f.label :subZip do
                  Zipcode
                = f.text_field :subZip, :class => "form-control", :size => 5, :maxLength => 5, :required => true
            .col-md-4
              .form-group
                = f.label :subState do
                  State
                = f.select :subState, options_for_select(us_states), :class => "form-control", :prompt => "Choose a state", :required => true
          .row
            .col-md-5
              .form-group
                = f.label :subType do
                  Type
                  = f.select :subType, [["Option 1", "Option 1"], ["Option 2", "Option 2"], ["Option 3", "Option 3"]], {:prompt => "Select a Type"}, {:class => "form-control", :required => true}
        .row
          .col-md-12
            %div= f.submit "Update", :class => "btn btn-primary"
