= form_for @contractor do |f|
  - if @contractor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contractor.errors.count, "error")} prohibited this contractor from being saved:"
      %ul
        - @contractor.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
